{% extends 'layout.html' %}

{% block titre %}
{{ super() }} - Accueil
{% endblock %}

{% block body %}
<section class="container-fluid body-container">
    <h1 class="text-center">Liste des sites</h1>

    <div class="row websites-container text-center">
        {% for website in websites %}
        <div class="card bg-success text-white col-md-3 website-card">
            <div class="card-header website-card-title">
                <h4><a target="_blank" href={{ website[1] }}>{{ website[1] }}</a></h4>
            </div>
            <div class="card-body">
                <div class="website-card-code">HTTP : {{ website[2] }}</div>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('show', id=website[0]) }}" class="btn btn-lg btn-white">Voir la fiche</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}